python-dotenv==1.0.1
fastparquet==2024.5.0
fsspec==2024.6.1
ipykernel
ipython
jupyter
numpy==1.26.4
pandas==2.2.2
pins==0.8.6
plotnine==0.13.6
pydantic==2.8.2
scikit-learn==1.5.1
vetiver==0.2.5
aiohttp==3.9.5
pyarrow==17.0.0
shap==0.46.0
